/*.box{
    width: 300px; 
}
*/

#resizable1{
  position: fixed;
  top: 55px;
  left: 8px;
  bottom: 10px;
  width: 48%;
  min-width: 300px;
}

#resizable2{
  position: fixed;
  top: 55px;
  right: 8px;
  bottom: 10px;
  width: 48%;
  min-width: 300px;
}

#ifrm1{
  /*display: inline-block;*/
  border-top: red 3px solid;
  border-right: red 3px solid;
  border-left: red 3px solid;
  border-bottom: red 3px solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

}

#ifrm2{
  /*display: inline-block;*/
  border-top: green 3px solid;
  border-right: green 3px solid;
  border-left: green 3px solid;
  border-bottom: green 3px solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.ui-resizable-ghost { 
  border: 2px dotted gray; 
}
