<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>follower side</title>

<link href="../static/splitscreen.css" rel="stylesheet">
<link href="../static/page_top.css" rel="stylesheet">

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var sess;
var settings = {widgetkey:'dd402bb4940b4cf3a855aaa371d11419', block_until_agent_joins: false, ui_off: true};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
	if(!Surfly.currentSession){
	    	s = Surfly.session();
	        s._settings.url = "https://agile-ocean-85913.herokuapp.com/follower_side_start";
		s.on('session_started', function(session) {
                        // get the follower link
			var retrievedLink = session.followerLink;
			var frame = document.getElementById('ifrm1').contentWindow;
			// we send the link to the first frame (where a Surfly session is already started)
			frame.postMessage(JSON.stringify({"command": "message", "data": retrievedLink}), '*');

			document.getElementById('exit_button').style.visibility="visible";
			document.getElementById('form_wrapper').style.visibility = "visible";
			document.getElementById('feed').style.visibility = "visible";
			document.getElementById('ignore').style.visibility = "visible";
			
			sess = session;
	     	})
		.on('relocated', function(session, event) {
			update_feed("You relocated to: " + event.url);
			var frame = document.getElementById('ifrm2').contentWindow;
			frame.postMessage(JSON.stringify({"command": "message", "data": "The follower relocated to: " + event.url}), '*');
		})
		.on('viewer_joined', function(session, event) {
			update_feed("Someone joined your session!");
		})
		.on('session_ended', function(session) {
			document.getElementById('exit_button').style.visibility="hidden";
		}).startLeader('#ifrm2'); 
	}
    }
   });
 });


function sendMess(){
        // relocate to the url entered in the form
	var url = document.getElementById('url').value;
	sess.relocate(url);
}

window.addEventListener('message', function(e){
	if (e.origin == "https://surfly-s1.com") {
		var string = JSON.stringify(e.data);
		console.log(string);
		if(string.indexOf('cobro_event') && string.indexOf("The leader relocated")!==-1){
			var index = string.indexOf('data');
			var indexEnd = string.indexOf('origin');	
			var info = string.substring(index+9, indexEnd-5);
			if(info.indexOf('\\')){ info = info.substring(0, info.length);};
                        update_feed(info);
		}
		if(string.indexOf('cobro_event') && (string.indexOf("The leader is ignoring you!")!==-1||string.indexOf("The leader stopped ignoring you!")!==-1)){
			var index = string.indexOf('data');
			var indexEnd = string.indexOf('origin');	
			var info = string.substring(index+9, indexEnd-5);
                        if(info.indexOf('!')!==-1){
				console.log('ok: ' + info);
                        	update_feed(info);
			}
		}
			var reactionFrame = document.getElementById('reaction');
		    // if the data recieved is "good" set the source of reactionFrame to the happy image
		    if (string.match(/(good)/)) {
		        reactionFrame.src = "../static/happycow.jpg";
		     }
		     // if the data recieved is "bad" the src of reactionFrame is the grumpy image
		     if (string.match(/(bad)/)) {
		        reactionFrame.src = "../static/grumpy.jpg";
		    }
		    if (reactionFrame.src != "") {
		      // check that the src is not empty, and then show the frame
		      reactionFrame.style.visibility="visible";
		      // the frame is hidden after 3 seconds 
		      setTimeout(function() {
		         reactionFrame.style.visibility = "hidden";
		      }, 3000);
		    }
	}
})

function exitSession(){
  sess.end('https://www.surfly.com');
}

// ignore friend button
function ignoreFriend() {
    var friendsFrame = document.getElementById("ifrm1");
    var yourFrame = document.getElementById("ifrm2");
    var ignoreButton = document.getElementById("ignore");

    if(ignoreButton.innerHTML=="Ignore Friend"){
	// we hide our friend's iframe
	friendsFrame.style.visibility = "hidden";
	// we make our iframe the size of the screen
	yourFrame.style.width = "-199%";
	// change button to acknowledge friend
    	ignoreButton.innerHTML = "Acknowledge Friend";

	// update feed
	friendsFrame.contentWindow.postMessage(JSON.stringify({"command": "message", "data": "The follower is ignoring you!"}), '*');
    } else {
	// we show our friend's iframe
	friendsFrame.style.visibility = "visible";
    	// we shrink our frame
    	yourFrame.style.width = "49%";
    	// we change the button to ignore friend 
    	ignoreButton.innerHTML = "Ignore Friend";

	// update feed
	friendsFrame.contentWindow.postMessage(JSON.stringify({"command": "message", "data": "The follower stopped ignoring you!"}), '*');
    }
}

var item = true;
//update live feed
function update_feed(text){
	var list = document.getElementById("list");
	if(item){
		var list_item = document.getElementById("i1");
		item = false;
	} else {
		var list_item = document.getElementById("i2");
		item = true;
	}
	list_item.innerHTML = text;
}

function goodReaction(){
  // sends a positive message to iframe 1
  frame2 = document.getElementById("ifrm1").contentWindow;
  frame2.postMessage(JSON.stringify({"command": "message", "data": "good"}), '*');
}

function badReaction() {
  // sends a negative message to iframe 1 
  frame  = document.getElementById("ifrm1").contentWindow;
  frame.postMessage(JSON.stringify({"command": "message", "data": "bad"}), '*');
}
</script>

</head>

<body>
<div id="menu">
	<button class="button" id="exit_button" onclick="exitSession()">Exit</button>
	<button id="ignore" style="margin-left: 50px;" onclick="ignoreFriend()">Ignore Friend</button>
	<button id="goodReaction" style="background: transparent; border: none;" class="reaction" onclick="goodReaction()"><img src="../static/smile.jpg"></button>
        <button id="badReaction" style="background: transparent; border: none;" class="reaction" onclick="badReaction()"><img src="../static/sad.jpg"></button>
	<div id="feed">
		<h4>News feed</h4>
		<ul id="list">
		  <li id="i1" class="list_item"></li>
	 	  <li id="i2" class="list_item"></li>
		</ul>
	</div>
	<div id="form_wrapper">
		<form id="nav" action="" method="post">
			<label style="float:left">
				<h3 id="title_bar">Nav bar :</h3>
				<input id="url" type="text" name="url"/>
			</label>
			<label>
			       <input type="button" class="button" id="submit_button" onclick=sendMess() value="Go!" />
			</label>
		</form>
	</div>
</div>

<!-- the iframes -->
<!-- the follower link is opened in this frame -->
<div class="box"><iframe id="ifrm1" src="" height="700" width="49%" align='left'></iframe></div>
<!-- the leader link is opened in this frame -->
<div class="box"><iframe id="ifrm2" src="" height="700" width="49%" align='right'></iframe></div>
<!-- the reaction is seen in this iframe -->
<div class="box"><iframe height="700" width="49%" align='left' id="reaction" src="" style="display: block; position: absolute; frameBorder:'0'; visibility:hidden;"></iframe></div>

<script>
// get the current url and the follower link
pageUrl  = document.location.href;
var idIndex = pageUrl.indexOf("screen");
var sessionID = pageUrl.substring(idIndex+6);
var fullUrl =  "https://surfly-s1.com".concat(sessionID);
// set the url of the first frame to the follower link
document.getElementById('ifrm1').src = fullUrl;
</script>


</body>
</html>
