<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Splitscreen</title>

<link href="../static/page_top.css" rel="stylesheet">
<link href="../static/splitscreen.css" rel="stylesheet">

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var sess;
var inviteLink;
var settings = {widgetkey:'dd402bb4940b4cf3a855aaa371d11419', block_until_agent_joins: false, ui_off: true};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      	if(!Surfly.currentSession){
	      s = Surfly.session();
	      s._settings.url = "https://www.google.com";
	      s.on('session_started', function(session) {
		       // get the session id from the follower link
			var followerLink = session.followerLink;
			var linkIndex = followerLink.indexOf(".com");
			var sessionID = followerLink.substring(linkIndex+4, linkIndex+16);
			// get the page url
			var pageUrl = document.location.href;
			// append the page url to the session id
			inviteLink = pageUrl.concat(sessionID);

			// make the elements linked to the session visible
			document.getElementById("invite").style.visibility = 'visible';
			document.getElementById('exit_button').style.visibility="visible";
			document.getElementById('invite').style.visibility = "visible";
			document.getElementById('form_wrapper').style.visibility = "visible";
			document.getElementById('feed').style.visibility = "visible";
			document.getElementById('ignore').style.visibility = "visible";
			document.getElementById('badReaction').style.visibility = "visible";
			document.getElementById('goodReaction').style.visibility = "visible";

			// store session
			sess = session;	
		})
		.on('relocated', function(session, event) {
			// update feed and send message to the other side
			update_feed("You relocated to: <a href='" + event.url +"'> " + event.url + "</a>");
			var frame = document.getElementById('ifrm2').contentWindow;
			frame.postMessage(JSON.stringify({"command": "message", "data": "The leader relocated to: <a href='" + event.url +"'> " + event.url + "</a>"}), '*');
		})
		.on('viewer_joined', function(session, event) {
			// update feed
			update_feed("Someone joined your session!");
		})
		.on('session_ended', function(session) {
			document.getElementById('exit_button').style.visibility="hidden";
		}).startLeader('#ifrm1');
	} 
     }
   });
 });

// navigate to a new url
function navigate(){
	var url = document.getElementById('url').value;
	console.log(url);
	if(url=="" && document.getElementById('url').placeholder){
		console.log('ok');
		url = document.getElementById('url').placeholder;
	}
	if(url.indexOf('https')==-1){
		url = 'https://' + url;
	}
	sess.relocate(url);
}

// event listener
window.addEventListener('message', function(e){
     var origin = event.origin || event.originalEvent.origin;
     if (origin == "https://surfly.com") {
        var string = JSON.stringify(e.data);

	if(string.indexOf('cobro_event')){
		// the 2nd follower link
		if (string.match(/[0-9]{3}[-][0-9]{3}[-][0-9]{3}/)) {
                        // extract the follower link from the message 
			var index = string.indexOf('https');
			var indexEnd = string.indexOf('origin');	
			var flink = string.substring(index, indexEnd-4);
			if(flink.indexOf('\\')){ flink = flink.substring(0, flink.length);};
                        // set the source of the second iframe to the follower link
			document.getElementById('ifrm2').src = flink;
		}
	
		// update feed
		if(string.indexOf("The follower relocated")!==-1){
			var index = string.indexOf('data');
			var indexEnd = string.indexOf('origin');	
			var info = string.substring(index+9, indexEnd-5);
			if(info.charAt(0)=='T'){
				var new_ph = info.substring(info.indexOf('https')+8, info.indexOf('>')-2);
				if(new_ph.indexOf('/'){ info.substring(0, info.indexOf('/'));}
                        	update_feed(info);
				document.getElementById('url').placeholder = new_ph;
			}
		}

		// update feed
		if(string.indexOf("The follower is ignoring you!")!==-1||string.indexOf("The follower stopped ignoring you!")!==-1){
			var index = string.indexOf('data');
			var indexEnd = string.indexOf('origin');	
			var info = string.substring(index+9, indexEnd-5);
                        if(info.indexOf('!')!==-1){
                        	update_feed(info);
			}
		}
			var reactionFrame = document.getElementById('reaction');
		    // if the data recieved is "good" set the source of reactionFrame to the happy image
		    if (string.match(/(good)/)) {
		        reactionFrame.src = "../static/happycow.jpg";
			update_feed("You received a like!");
		     }
		     // if the data recieved is "bad" the src of reactionFrame is the grumpy image
		     if (string.match(/(bad)/)) {
		        reactionFrame.src = "../static/grumpy.jpg";
			update_feed("You received a dislike!");
		    }
		    if (reactionFrame.src != "") {
		      // check that the src is not empty, and then show the frame
		      reactionFrame.style.visibility="visible";
		      // the frame is hidden after 3 seconds 
		      setTimeout(function() {
		         reactionFrame.style.visibility = "hidden";
		      }, 3000);
		    }
    	}
     }
})

function exitSession(){
  sess.end('https://www.surfly.com');
}

// ignore/acknowledge friend button
function ignoreFriend() {
    var friendsFrame = document.getElementById("ifrm2");
    var yourFrame = document.getElementById("ifrm1");
    var ignoreButton = document.getElementById("ignore");

    if(ignoreButton.innerHTML=="Ignore Friend"){
	// we hide our friend's iframe
	friendsFrame.style.visibility = "hidden";
	// we make our iframe the size of the screen
	yourFrame.style.width = "99%";
	// change button to acknowledge friend
    	ignoreButton.innerHTML = "Acknowledge Friend";

 	// update feed
	friendsFrame.contentWindow.postMessage(JSON.stringify({"command": "message", "data": "The leader is ignoring you!"}), '*');
    } else {
	// we show our friend's iframe
	friendsFrame.style.visibility = "visible";
    	// we shrink our frame
    	yourFrame.style.width = "49%";
    	// we change the button to ignore friend 
    	ignoreButton.innerHTML = "Ignore Friend";

	// update feed 
	friendsFrame.contentWindow.postMessage(JSON.stringify({"command": "message", "data": "The leader stopped ignoring you!"}), '*');
    }
}

function inviteFriend(){
  // we hide the invite button
  document.getElementById("invite").style.visibility = "hidden";
  // we display a popup with the invite link
  var popupWindow = document.getElementById("popupLink").contentWindow;
  popupWindow.postMessage(inviteLink, "*");
  document.getElementById("popupLink").style.visibility="visible";
}

//close popup
function closeIFrame(){
     document.getElementById("popupLink").style.visibility="hidden";
}

var item = true;
//update live feed
function update_feed(text){
	var list = document.getElementById("list");
	if(item){
		var list_item = document.getElementById("i1");
		item = false;
	} else {
		var list_item = document.getElementById("i2");
		item = true;
	}
	if(text!==document.getElementById("i1").innerHTML && text!==document.getElementById("i2").innerHTML){
		list_item.innerHTML = text;
	}
}

function goodReaction(){
  // send a positive message to iframe1 
  frame2 = document.getElementById("ifrm1").contentWindow;
  frame2.postMessage(JSON.stringify({"command": "message", "data": "good"}), '*');
  update_feed("You like your friend!");
}

function badReaction() {
  // send a negative message to iframe1
  frame  = document.getElementById("ifrm1").contentWindow;
  frame.postMessage(JSON.stringify({"command": "message", "data": "bad"}), '*');
  update_feed("You hate your friend!");
}

</script>


</head>

<body>
<div id="menu">
	<button class="button" id="exit_button" onclick="exitSession()">Exit</button>
	<button id="ignore" onclick="ignoreFriend()">Ignore Friend</button>
	<button id="goodReaction" class="reaction" onclick="goodReaction()"></button>
        <button id="badReaction" class="reaction" onclick="badReaction()"></button>
	<button id="invite" class="button" onclick="inviteFriend()">Invite Friend</button>
	<div id="feed">
		<h4>News feed</h4>
		<ul id="list">
		  <li id="i1" class="list_item"></li>
	 	  <li id="i2" class="list_item"></li>
		</ul>
	</div>
	<div id="form_wrapper">
		<form id="nav" action="" method="post">
			<label style="float:left">
				<input id="url" type="text" name="url" placeholder="duckduckgo.com"/>
			</label>
			<label>
			       <input type="button" class="button" id="submit_button" onclick=navigate() value="Go!" />
			</label>
		</form>
	</div>
</div>

<!-- the two iframes -->
<!-- the frame in which the leader link is opened -->
<div class="box"><iframe id="ifrm1" src="" height="700" width="49%" align='left'></iframe></div>
<!-- the frame in which the follower link will be opened -->
<div class="box"><iframe id="ifrm2" src="./popup_link" height="700" width="49%" align='right'></iframe></div>
<!-- the frame in which the invite link is displayed -->
<iframe id="popupLink" src="./popup_link" height="300" width="45%" style="top: 30%; left: 35%; display: block; position: absolute; visibility:hidden"></iframe>
<!-- the reaction is seen in this iframe -->
<div class="box"><iframe align='left' id="reaction" src=""></iframe></div>
</body>

</html>

